/* .App {
  text-align: center;
  padding: 20px;
  color: white;
  background-color: #544f5a;
} */

h1 {
  color: white;
  background-color: transparent;
  margin-bottom: 20px;
  font-size: 2rem;
}

form {
  display: inline-block;
  text-align: left;
  margin-top: 20px;
  width: 80%;
  padding: 20px;
  color: white;
  background-color: rgba(67, 64, 60, 0.449);
  border: 2px solid rgb(149, 148, 148);
  border-radius: 10px;
}

form div {
  margin-bottom: 10px;
 
}

label {
  margin-right: 10px;
  font-size: larger;
  
}

form > .inputs {
  padding: 5px;
  width: 95%;
  background-color: #f8f8f8;
  color: white;
  font-size: large;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.result, .error {
  margin-top: 20px;
  font-weight: bold;
}

.result {
  color: green;
}

.error {
  color: red;
  margin-bottom: 20px;
}
